.container{
    padding:50px;
    
    
}
.header{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    min-width: 700px;
    height: 100vh;
}

.intro-content{
    grid-area: 2/1/3/2;
    padding-left: 20px;
}

.circle{
    border-radius: 50%;
}
.color-one{
    background-color: #B4E5E6   ;
}
.color-two{
   background-color: #E3F4F4;   
}

.one{
    grid-area:1/1/-1/2;
    border-radius: 10%;
}

h1{
   /* color: #002333;*/
      color: slategray;
    font-family: 'Cinzel', serif;;
    font-size: 4rem;
    margin-bottom: 0px;
    font-weight: bold;
}
h2{
    color:slategray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    margin-top: 0px;
    font-weight: bold;
}

h3{
    color:slategray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-top: 0px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem; 
    width:90%;
    line-height: 2rem;
    color:slategray;
}
/*ul{
    list-style: none;
}*/
.skills-picture{
    background-color: gainsboro;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
}
.skills{
    display:grid;
    grid-template-columns: 1fr 3fr;
   /* grid-template-rows: 1fr 1fr; */
}
.skills-r1-c1{
    grid-area: 1/1/2/2;
}
.skills-r1-c2{
    grid-area: 1/2/2/3;
}
.picture-allign{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 20,
    'wght' 500,
    'GRAD' 0,
    'opsz' 30;
    color: rgb(125, 138, 151);
    font-size: 100px !important;

  }
  footer{
    width: 100%;
  }

  
element.style {
}
.carousel-caption{
    left :10% ; 
    text-align: left;
    width : 15rem;
    padding-bottom: 6rem;
}